.div1{
    background-color: brown; 
    height: 100px;
    margin-right: 1270px;}
.div2{background-color: blueviolet;
    height:100px;
    margin-top:-100px;
    margin-left:330px;}
.div3{background-color: blue;
    height: 100px;
    margin-top: 10px;}
.div4{background-color: darkgoldenrod;
    height: 100px;
    margin-top: 10px;
    margin-right: 1080px;} 
.div5{background-color: lawngreen;
    height: 100px;
    margin-top: -100px;
    margin-left: 1050px;}
.div6{background-color: red; 
    height: 100px; 
     margin-top: -100px; 
     margin-left: 520px;
     margin-right: 550px;} 
.div7{background-color: darkgreen;
    height: 100px;
    margin-top: 10px;
    margin-left: 890px;}
.div8{background-color: lavender;
    height: 100px;
    margin-top: -100px;
    margin-right:710px ;}
    .div9{background-color: rebeccapurple;
    height: 100px;
    margin-top: 10px;
    margin-right: 1200px;}
.div10{background-color: yellow;
    height: 100px;
    margin-top: -100px;
    margin-left: 1250px;
}
.div11{background-color: teal;
    height: 100px;
    margin-top: -100px;
    margin-left: 790px;
    margin-right:350px ;}
.div12{background-color: gold;
    height: 100px;
    margin-top: -100px;
    margin-left: 400px;
    margin-right: 810px;
}
.div13{background-color: orangered;
    height: 100px;
    margin-top: 10px;}
