@media screen and (min-width: 1600px) {
    .div1{
        background-color: brown; 
        height: 100px;
        margin-right: 1270px;}
    .div2{background-color: blueviolet;
        height:100px;
        margin-top:-100px;
        margin-left:330px;}
    .div3{background-color: blue;
        height: 100px;
        margin-top: 10px;}
    .div4{background-color: darkgoldenrod;
        height: 100px;
        margin-top: 10px;
        margin-right: 1080px;} 
    .div5{background-color: lawngreen;
        height: 100px;
        margin-top: -100px;
        margin-left: 1050px;}
     .div6{background-color: red; 
        height: 100px; 
         margin-top: -100px; 
         margin-left: 520px;
         margin-right: 550px;} 
    .div7{background-color: darkgreen;
        height: 100px;
        margin-top: 10px;
        margin-left: 890px;}
    .div8{background-color: lavender;
        height: 100px;
        margin-top: -100px;
        margin-right:710px ;}
        .div9{background-color: rebeccapurple;
        height: 100px;
        margin-top: 10px;
        margin-right: 1200px;}
    .div10{background-color: yellow;
        height: 100px;
        margin-top: -100px;
        margin-left: 1250px;
    }
    .div11{background-color: teal;
        height: 100px;
        margin-top: -100px;
        margin-left: 790px;
        margin-right:350px ;}
    .div12{background-color: gold;
        height: 100px;
        margin-top: -100px;
        margin-left: 400px;
        margin-right: 810px;
    }
    .div13{background-color: orangered;
        height: 100px;
        margin-top: 10px;}
    }
    @media screen and (min-width: 360px) and (max-width: 720px) {
        .div1{
            position: absolute;
            background-color: brown; 
            height: 45px;
            width:340px;
            top: 25px;
        }
        .div2{
            position: absolute;
            background-color: goldenrod; 
            height: 75px;
            top: 80px;
            width:340px;
        }
        .div3{
            position: absolute;
            background-color: green; 
            height: 45px;
            width:340px;
            top: 170px;
        }
        .div4{
            position: absolute;
            background-color: rebeccapurple; 
            height: 45px;
            width:340px;
            top: 230px;
        }
        .div5{
            position: absolute;
            background-color: orangered; 
            height: 45px;
            width:340px;
            top: 291px;
        }
        .div6{
            position: absolute;
            background-color: yellowgreen; 
            height: 45px;
            width:340px;
            top: 345px;
        }
        .div7{
            position: absolute;
            background-color: green; 
            height: 40px;
            width:340px;
            top: 400px;
        }
        .div8{
            position: absolute;
            background-color: seagreen; 
            height: 40px;
            width:340px;
            top: 450px;
        }
        .div9{
            position: absolute;
            background-color: brown; 
            height: 40px;
            width:340px;
            top: 500px;
        }
        .div10{
            position: absolute;
            background-color: blue; 
            height: 40px;
            width:340px;
            top: 550px;
        }
        .div11{
            position: absolute;
            background-color: black; 
            height: 30px;
            width:340px;
            top: 600px;
        }
    }       
    @media screen and (min-width: 720px) and (max-width: 1024px ) {
        .div1{
            position: absolute;
            background-color: brown; 
            height: 66px;
            width:250px;
            top: 25px;
        }
        .div2{
            position: absolute;
            background-color: goldenrod; 
            height: 140px;
            top:111px;
            width: 739px;
        }
        .div3{
            position: absolute;
            background-color: green; 
            height: 66px;
            width:450px;
            top: 25px;
            left: 295px;
        }
        .div4{
            position: absolute;
            background-color: rebeccapurple; 
            height: 100px;
            width:739px;
            top: 275px;
        }
        .div5{
            position: absolute;
            background-color: orangered; 
            height: 80px;
            width:739px;
            top: 400px;
        }
        .div6{
            position: absolute;
            background-color: yellowgreen; 
            height: 80px;
            width:739px;
            top: 500px;
        }
        .div7{
            position: absolute;
            background-color: green; 
            height: 80px;
            width:739px;
            top: 600px;
        }
        .div8{
            position: absolute;
            background-color: seagreen; 
            height: 80px;
            width:739px;
            top: 700px;
        }
        .div9{
            position: absolute;
            background-color: brown; 
            height: 60px;
            width:355px;
            top: 800px;
        }
        .div10{
            position: absolute;
            background-color: brown; 
            height: 60px;
            width:355px;
            top: 800px;
            left: 390px;
        }
        .div11{
            position: absolute;
            background-color: blue; 
            height: 60px;
            width:355px;
            top: 880px;
        }
        .div12{
            position: absolute;
            background-color: blue; 
            height: 60px;
            width:355px;
            top: 880px;
            left: 390px ;
        }
        .div13{
            position: absolute;
            background-color: black; 
            height: 50px;
            width:739px;
            top: 960px;
        }
    }